[2013-11-04 23:03] rgarcia opened #17 ""backend" in service's haproxy config is required, not documented"
https://github.com/airbnb/synapse/blob/v0.6.0/lib/synapse/haproxy.rb#L111

[2013-11-21 02:07] rgarcia opened #28 "dns watcher ping assumes dns server resolves public addresses"
The dns watcher's ping method declares the watcher dead if it can't resolve airbnb.com. This doesn't work if you are in a private network (e.g. AWS VPC) and are using a DNS server that only resolves private domains.

Potential alternatives:
- allow the domain for the ping to be configurable
- don't care if the domain is not found (the fact that it got a proper response from the dns server is good

[2013-12-03 19:26] #17 closed, assigned to nobody

[2013-12-26 05:23] ernoaapa opened #33 "Why logging to STDERR?"
Sorry for posting questions here, but didn't find any other place for questions.

Why Synapse (and actually Nerve too) log everything to STDERR? I'm not Ruby specialist and don't know is this common way to do it, but would like to hear what is the reason for that. Thanks!

[2013-12-30 23:39] memory opened #34 "semi-catatonic synapse"
I've noticed this now once or twice, and it's a little disturbing.  A synapse process with multiple services defined eventually goes catatonic after a certain amount (as yet unquantified) of churn in the zookeeper backends.  The symptoms are as follows:
- the synapse process ignores SIGTERM, and can only be terminated with SIGKILL.
- haproxy stops being updated despite nerve on the churned servers

[2014-01-02 20:35] tomfitzhenry opened #35 "etcd service watcher"
https://github.com/coreos/etcd is "a highly-available key value store for shared configuration and service discovery", similar to zookeeper.

etcd has a REST API, and there are already Ruby libraries ( https://github.com/ranjib/etcd-ruby , https://github.com/iconara/etcd-rb ) to varying levels of maturity/completeness.

[2014-01-06 18:10] #33 closed, assigned to nobody

[2014-01-14 20:23] #34 closed, assigned to nobody

[2014-01-17 19:41] igor47 opened #38 "synapse exits on watcher failure"
ideally, the watcher should be recreated periodically

[2014-01-19 20:32] rgarcia opened #41 "docker watcher: discover on container name, not image name"
When I first wrote the docker watcher, docker containers could only be identified by their image name. Now there's the ability to attach names to containers: http://blog.docker.io/2013/10/docker-0-6-5-links-container-naming-advanced-port-redirects-host-integration/. This is a much more flexible way to discover them, since most of the time your base image is something basic like "ubuntu:12.04" whic

[2014-01-27 07:24] matschaffer opened #42 "Release?"
Lost a chunk of time today before noticing that the current rubygems release is way behind master (0.2.1 vs 0.8.0).

Any chance of a release?

[2014-01-27 19:58] #42 closed, assigned to nobody

[2014-02-05 17:51] tomfitzhenry opened #44 "serfdom.io service watcher"
[Serf](http://www.serfdom.io/) is "a decentralized solution for service discovery and orchestration that is lightweight, highly available, and fault tolerant."

http://rubygems.org/gems/kahuna is a Serf library for Ruby. I don't know how mature this library is, but it's version 0.0.1 so my gut tells me "not very". :)

[2014-03-23 04:26] coderlol opened #52 "Ubuntu 13.10 ruby 1.9.3 synapse not working"
Any idea how I can fix this?  I ran "sudo gem install synapse" prior to the below.

vagrant@packer-virtualbox-iso:~$ ruby -v
ruby 1.9.3p194 (2012-04-20 revision 35410) [x86_64-linux]

vagrant@packer-virtualbox-iso:~$ synapse -h
Welcome to synapse

Usage: synapse --config /path/to/synapse/config
    -c, --config config              path to synapse config
    -h, --help                       Display

[2014-04-03 20:30] #52 closed, assigned to nobody

[2014-06-05 22:29] Jaykah opened #70 "Missing discovery method when trying to create watcher"
Hello,

I am trying to get Synapse up and running, however, I have encountered the following error:

[code]

My config looks like this:

[code]

What am I missing?

Thanks!

[2014-06-06 19:02] #70 closed, assigned to nobody

[2014-06-09 16:05] Jaykah opened #71 "When using default servers as fallback, synapse is looking for a Zookeeper method"
Not sure if I am doing something wrong, or if that is a bug, but here it is:

After synapse fails to fetch backends from Zookeeper, and it falls back to default server list, it is still trying to find method "shuffle"

[code]

[2014-07-06 22:01] dcosson opened #78 "Be smarter about initial reconfigure"
Synapse is designed to re-write the haproxy config & reload haproxy when it starts (set [here](https://github.com/airbnb/synapse/blob/master/lib/synapse.rb#L24-25)).

This means that any time synapse is restarted there is a period between when it starts and when the watcher first registers where the defaults are being used (and if there are no defaults you will return 503's from haproxy).

I can s

[2014-08-22 09:42] niko opened #88 "Docker watcher: Port is required?"
Sorry for this being rather a question than an issue… the Docker watcher requires a port for each service if I understand the code right. Wouldn't it make sense to have the watcher just look for an image-tag combination and figure out the port (or ports if there are several) by itself? That way one could spin up a new deploy with a "staging" tag, test drive it, then add a "production" tag and take

[2014-10-05 06:25] millisami opened #93 "Is there any watcher for SkyDns?"
Hi,
I was wondering that is there any watcher someone have built or thought of for SkyDNS?

[2014-10-09 23:45] Jaykah opened #94 "Synapse fails to restart after zookeeper node disappears"
I am using the Zookeeper watcher to get a list of available nodes - which it successfully does.

However, after a node fails, it does not get removed from haproxy.

Haproxy monitoring page shows those nodes as down, Zookeeper no longer has them as they are ephemeral, but the reconfiguration does not take place.

If I restart Synapse, however, everything goes back to normal.

[code]

Note: Synapse

[2014-11-14 04:12] geowa4 opened #99 "HAProxy configuration is not being updated"
I've spent part of today trying to learn Synapse as I think it could be useful in my infrastructure. I set up a Vagrant box, where I was able to get it to successfully query the AWS API. The issue though was that it never updated the HAProxy configuration. I have committed this learning exercise to [GitHub](https://github.com/geowa4/learn-synapse/commit/7b4cc315ae873303353fbcacfbf8c27e812dc849) so

[2014-12-04 11:09] ajohnstone opened #103 "cookie is hard coded into stanza..."
b = "#{b} cookie #{backend_name}" unless config.include?('mode tcp')

[2014-12-05 10:05] ajohnstone opened #105 "Unable to use ec2tag watcher due to local instance variable"
https://github.com/airbnb/synapse/blob/v0.11.1/lib/synapse/service_watcher/ec2tag.rb#L16

[2015-01-22 16:15] ajohnstone opened #107 "Docker watcher - cannot use unix sockets with synapse due to hardcoded http string + port."
Docker watcher - cannot use unix sockets with synapse due to hardcoded http string + port.

[2015-01-25 18:36] ajohnstone opened #109 "docker watcher - dependent on publicly exposed ports to the parent host."
The current implementation is quite restricting. For example using synapse within a docker container, it uses the host IP within @discovery["servers"].

This means you need to publicly expose all containers in the parent host, rather than just using the private ips of the containers themselves. So rather than having discovery, you end up with a fixed mapping based on ports.

When not using publicl

[2015-01-26 04:39] ajohnstone commented on #105
Thanks for that :)

[2015-05-16 23:06] dnephin commented on #109
+1
exposing ports to the host should be unnecessary

[2015-05-16 23:22] dnephin opened #120 "docker watcher proposal: use the events API instead of polling"
**Replace polling by streaming the [events API](https://docs.docker.com/reference/api/docker_remote_api_v1.18/#monitor-dockers-events)**
* using the events API filter by the `start` event to get notified of all new containers that have started
* when a new container starts, check it against the list of criteria and register it if it matches
* removes the need to poll, and keep track of the list of

[2015-05-16 23:26] dnephin commented on #120
cc @bobtfish, @bcicen, @rgarcia

You've all worked with this watcher or have pending PRs for it. What do you think about this idea?

[2015-05-16 23:42] dnephin opened #121 "docker watcher proposal: identify services by label instead of port and image name"
Docker 1.6 added [labels](https://docs.docker.com/userguide/labels-custom-metadata/) for images and containers.

Instead of requiring the same port for every service and exposing the port to the host (#109, #88), read a `com.airbnb.synapse.service-port` label from the image or container, and register the service using that port.

Another option might be to keep specifying the port in the watcher c

[2015-05-28 11:13] nilroy opened #122 "When IAM profiles will be supported"
When are you going to support IAM profiles? I could see pull requests pending for that.

[2015-06-09 19:47] chrono opened #124 "is this maintained? any point in filing pull requests?"
I've noticed a lot of issues with documentation that I'm currently stumbling over. There are also a few pull requests open for months with useful features (#98 comes to mind) that haven't seen any attention.

Will I waste my time to open a pull request here?

[2015-06-09 20:06] igor47 commented on #124
this project is in active use at a few places, and contributors from airbnb and yelp have commit privs. things have been a bit slow in the code review department, but documentation PRs should be fairly trivial to merge

[2015-06-09 20:28] chrono commented on #124
just had to dig down into source to discover what #112 already addresses

[2015-06-14 18:39] ellardli opened #125 "Trouble with getting Synapse to Start"
Hi,

I've been playing around with ZooKeeper + Nerve + Synapse to try and get a hello_world type setup working. I got Nerve to register a hello_service to register to ZooKeeper with the path /nerve/services/userslist/services. I'm having some trouble with setting up Synapse and HAProxy to abstract the connection to that service for my hello_world app though and that's probably from me not understa

[2015-06-14 18:41] jolynch commented on #125
If you want synapse to write the config, or modify the running HAProxy you'll want to set do_writes, do_reloads, do_socket appropriately.

So for a basic proof of concept I'd set all three to true.

[2015-06-14 18:52] ellardli commented on #125
Awesome. Thanks @jolynch. That got me past this!

[2015-06-14 18:52] #125 closed

[2015-06-14 19:00] jolynch commented on #124
@chrono,
@jnb and I from Yelp plan to help maintain this going forward along with @igor47 and the airbnb crew.

Right now we're concentrating on getting the Yelp forks of nerve/synapse merged back into upstream as they have a lot of important reliability fixes for multi-datacenter setups (connection pooling, removal of fast fail in nerve, allowing synapse to reconfigure more aggressively than it r

[2015-06-22 17:31] dcosson commented on #124
+1. Maybe you could give a few community members commit access if airbnb doesn't have the bandwidth to support this?

FWIW, here was my experience trying it out with a super simple config, maybe it'll help anyone coming here in the future before these issues get addressed. It crashes when I start it of course, because

 - In the global haproxy section, `shared_frontend` needs to be a list not a st

[2015-06-22 19:29] jolynch commented on #124
@dcosson Yes our fork does help mitigate that problem, but it is not a complete solution. Basically we cache synapse state locally for 30m and will always put cached backends in regardless of if they are in zookeeper (if we don't know about them in zookeeper they go in disabled). Then because our fork can reconfigure (but not restart) every loop of the main loop we can enable them via the stats so

[2015-06-22 19:39] dcosson commented on #124
@jolynch cool to hear. Thanks for the update

[2015-06-25 16:18] dcosson commented on #122
I added support for them in #126

[2015-07-05 21:23] Hades32 commented on #35
https://github.com/GoToAssist/synapse/blob/master/synapse/lib/synapse/service_watcher/etcd.rb seems to be the most mature fork AFAICS

[2015-07-06 12:37] jolynch commented on #35
I'm also working with @bobtfish  to get this merged into Yelp's synapse fork over at https://github.com/Yelp/synapse/pull/3 and we're going to be merging that back into upstream once we get some more production experience with it.

[2015-07-18 18:55] asiragusa opened #127 "Why backends are shuffled?"
Digging into the code I found out that the backend order is shuffled, instead of being consistent for every node. This is causing me troubles when balancing the requests via consistent hash.

See: https://github.com/airbnb/synapse/blob/master/lib/synapse/haproxy.rb#L665

[2015-07-26 17:30] bobtfish commented on #120
:+1:

[2015-08-14 12:50] lsjostro opened #134 "ZookeeperWatcher: @watcher.unsubscribe hangs on ruby 2.2"
I found when using ruby 2.2 the watcher doesn't seems to be able to unsubscribe a node. it just hangs here when a node changes:
https://github.com/airbnb/synapse/blob/master/lib/synapse/service_watcher/zookeeper.rb#L87

It's probably a bug with the zk library in combination with ruby 2.2. Seems to work great when using 1.9.3 though.

[2015-08-29 07:48] hankya commented on #94
is this fixed? anyone?

[2015-08-29 11:09] jolynch commented on #94
@hankya We haven't seen the behavior referenced in this PR but we don't use the supervisord. Have you been seeing the same issue and if so what's your setup?

I did see something that I thought was like this bug when ZK was overloaded, but in that case the issue was just a large lag in event delivery. Our connection pooling fix alleviated those issues (plus a bug fix to the pooling code). While in

[2015-08-31 06:06] hankya opened #137 "zookeeper watcher won't update haproxy config when adding/removing new node"
Had anyone ever get synapse+zookeeper+nerve working prperly?

I followed the document on this repo, and encountered a couple of issues:
- synapse works with yaml config file however the json format config file is provided
- there is a few config items that should have been array however it is a single line in example config
- finally i was able to fix above problem, however, when taking a service

[2015-08-31 06:15] jolynch commented on #137
Thanks for the bug report. We definitely rely on nerve/zookeeper/synapse at Yelp to manage 100s of constantly changing services, and I'm fairly sure Airbnb depends on it in production as well.

Let's dig into this. First off how are you starting Synapse and do you have any output or logs from the Synapse startup? I'd expect to see some stdout that might be helpful in diagnosing what's going on.

[2015-08-31 06:47] hankya commented on #137
thanks very much for the response, it looks like this issue is a duplication of #134,  the ruby version i am using is ruby 2.1.2p95 (2014-05-08) [x86_64-linux-gnu], synapse hung when unsubscribing from zookeeper, is this a known issue that synapse doesn't work with this ruby version?

[2015-08-31 08:15] jolynch commented on #134
It appears that the zk library just started running tests on 2.2, and they are currently failing. I am going to close this until the underlying zookeeper library at least claims to work on 2.2.

For now I encourage you to use an older ruby version, and when zk supports 2.2. please do open another issue or comment on this one and I'll take another look.

https://travis-ci.org/zk-ruby/zk

[2015-08-31 08:17] jolynch commented on #137
I thought that it would work with 2.1, but that may be enough information for me to reproduce tomorrow. If you could paste the stdout you're seeing that would probably help save me some time debugging it. We actually run 1.9 in production, so it might just be 2.X issues.

[2015-08-31 16:31] Jaykah commented on #94
@jolynch This issue is related to the fact that (AFAIK) Synapse does reloads by forking the process and then executing the reload. The problem with Supervisord is that it keeps attached to STDOUT, running the process in the foreground, thus messing with the ability to fork&reload. That's a pity, because Supervisord is a really great tool for process monitoring.

[2015-08-31 17:02] igor47 commented on #94
i don't think that makes sense. we run synapse via runit, which also keeps the process attached in the foreground, and we have no problems. also, i'm not sure what you're referring to as far as reloads via forking. our usual model is to exit the process and allow the process supervisor to restart it.

[2015-08-31 17:43] jolynch commented on #127
@asiragusa They are shuffled because of long lived clients and round robin load balancing. Imagine that Synapse restarts haproxy, and then all your clients reconnect to the same host (because round robin), this could be pretty bad for something like HAProxy.

Like I mention in the linked PR I am not against adding the capability for backends to be shuffled or not. Happy to accept a PR that adds th

[2015-08-31 17:43] #127 closed

[2015-08-31 17:46] jolynch commented on #94
I'm also confused by the forking issue. We use upstart and just have it kill the old process before starting the new one. For nerve we run two copies during a flip to achieve hitless nerve reloads. @Jaykah why do you need to fork Synapse to reload?

I think that @hankya is having a separate issue, which I'm following up on in #137.

[2015-08-31 19:15] Jaykah commented on #94
@jolynch The first six comments of this ticket explain my reasoning. Basically what happens is if we have only one instance of Synapse running it does not write modified Haproxy configs for node removal, if we run two it does remove nodes, but does not add new ones. And if we run is as numprocs=4 (basically forking it into 4 processes) it *seems to* work fine, but I've still had some cases with re

[2015-08-31 20:16] jolynch commented on #94
@Jaykah I think the relevant context here is that you are using ruby 2.1.2, same as @hankya over in #137. I will focus my efforts on that ruby version. It's also been reported that 2.2 doesn't work (although ruby-zk doesn't work with 2.2 so ...).

For context, I am unable to reproduce this at all in our production environment or in my own testing using ruby 1.9, so if you can downgrade, that might

[2015-08-31 20:21] jolynch commented on #94
@igor47 I thought you had mentioned airbnb moving to ruby 2.X soon, if you guys get around to debugging this before me that is also cool heh :-)

[2015-08-31 21:59] igor47 commented on #94
fyi @rickypai

[2015-08-31 22:04] drewcsillag commented on #137
Can confirm that synapse works with ruby 1.9.3 and doesn't with 2.x

Possibly relevant datapoint: if I set DEBUG to true on 2.x.x (to see *all* the log messages), I don't get the "setting watch at...." log message until after the first new nerve is started.....

[2015-09-01 01:45] rickypai commented on #94
I sent a PR to the zk gem to have its tests run and pass against Ruby 2.2. Unfortunately, we are yet to be running our infrastructure on Ruby 2.x, so we have not seen this error.

[2015-09-01 07:51] hankya commented on #137
thanks for the update, here are logs that I collected, hope it helps

I, [2015-09-01T15:41:12.843539 #29063]  INFO -- Synapse::ZookeeperWatcher: start unsubscribe, expect another log entry for its completion
E, [2015-09-01T15:41:12.843689 #29063] ERROR -- Synapse::ZookeeperWatcher: Target thread must not be current thread (ThreadError)
/var/lib/gems/2.1.0/gems/zk-1.9.5/lib/zk/threaded_callback.rb:

[2015-09-03 06:25] jolynch commented on #137
That's interesting. I wonder if the per_thread callbacks are the problem.

[2015-09-03 06:55] jolynch commented on #137
Manual testing shows that removing the :thread => :per_callback parameter from the zookeeper connection seems to solve the problem for me on 2.1.2.

That's unfortunate because per_callback delivery has significantly increased the responsiveness of synapse in production for us. I'm going to dig into why per_callback is broken on 2.X

[2015-09-03 08:02] jolynch commented on #137
Definitely something funky going on. As the error indicates, the event delivery thread is trying to join itself. I believe that the issue is basically that we are calling unsubscribe while the event delivery thread is running, which calls the event delivery thread's shutdown method which calls join on itself.

I suppose the "strange" thing we're doing is calling watch from within the callback itse

[2015-09-03 17:15] jolynch commented on #137
Yea, this is due to an API change in Thread.join between 1.9.X and 2.X, namely that if you try to join with a timeout on the current thread in Ruby 2.X you get and exception but in 1.9.X you just get nil

[code]

The issue is that synapse calls unsubscribe from within the callback. This causes the following fun call chain:
Actor.unregister =>
=> https://github.com/zk-ruby/zk/blob/e3274c17e61fd2d0a

[2015-09-03 20:05] jolynch commented on #137
@igor47, @rickypai I'm actually thinking the better solution is to just not call unsubscribe at all. The wiki page over at https://github.com/zk-ruby/zk/wiki/Events#subscriptions warns against it because your callback will keep getting called, but this is like exactly what Synapse wants to happen.

I'll have a PR shortly that just sets the watch once. I believe this is safe because if the path goe

[2015-09-03 20:12] rickypai commented on #137
Thanks for digging into this. Igor would have better idea about what's the proper fix is for Synapse, but I can look into the fix on the zk side (or at least communicate it)

[2015-09-03 20:49] jolynch commented on #137
@rickypai I don't actually think there is anything wrong with zk-ruby, the semantics seem correct to me. The only potential fix would be for zk-ruby to catch the join on self exception over at https://github.com/zk-ruby/zk/blob/e3274c17e61fd2d0a65fc8d024f63026c07c07b3/lib/zk/threaded_callback.rb#L44.

I think it's probably incorrect in general to call unsubscribe from within a callback. If we don'

[2015-09-03 21:54] igor47 commented on #137
i think we probably just added the unsubscribe because we misunderstood the zk docs; if the subscription will continue to notify, i think we're okay to avoid clearing/re-setting it.

[2015-09-04 12:34] rickypai commented on #137
@jolynch I think the code should probably accommodate the case for Ruby 2+ thread exceptions so it properly logs the error and returns the state.

[2015-09-07 19:33] jolynch commented on #99
@geowa4 I think you may have run into an issue with the documentation saying options were default to true (do_writes, do_reloads, do_socket) when they were not at the time. On latest master do you still see the issue? Can you paste your config?

I believe I have a fix for MRI installs in #138, but it looks like you're using JRuby?

[2015-09-07 20:09] #137 closed

[2015-09-10 16:14] c4urself commented on #94
FWIW, I've run the following test on Ubuntu 14.04 which works on ruby1.9.1 and *does not* work on ruby2.0 running a supervisord based nerve and synapse.

1. [on service B] `supervisorctl stop nerve`
  * Correct. HAproxy keeps servers in backend.
2. [on service A] `supervisorctl stop synapse`
  * Correct. HAproxy keeps servers in backend.
3. [on service A] `supervisorctl start synapse`
  * Correct.

[2015-09-10 16:32] jolynch commented on #94
@c4urself did you run this test with latest master?  We had a bug with a Thread api change between 1.9 and 2.0, but I thought that I fixed it in PR #138.

[2015-09-10 16:44] c4urself commented on #94
@jolynch No, I ran the test with `0.12.1`. I retried it with the master branch and it looks like it's working correctly now. Thanks!

[2015-09-10 17:00] jolynch commented on #94
@igor47 can you cut a bug fix release? I haven't been able to roll it out here but if you've done that then we probably want to cut a release.

[2015-09-10 19:40] geowa4 commented on #99
@jolynch Since this didn't work for me almost a year ago, I decided to use something else. If I have time, I might verify this is fixed, but, honestly, I can't put this too high up on my priority list.

[2015-09-10 23:15] jolynch commented on #99
OK, I'm going to close the issue since I think the documentation and code have been fixed. If you come across the problem again please let me know.

[2015-09-10 23:15] #99 closed

[2015-09-11 03:22] jolynch commented on #124
@chrono If you find any more issues with the documentation please re-open an issue or PR and we can fix it. I've been trying to fix it up and merge PRs as I see issues.

I'm working with @dcosson to merge #126 which will resolve #98

[2015-09-11 03:22] #124 closed

[2015-09-11 16:24] igor47 commented on #94
i'll do that now; i've only given it the barest testing on our infra, haven't rolled it out site-wide yet

[2015-09-29 00:02] jolynch opened #139 "File output does not purge unknown services"
I came across a fun bug today where we removed a service and synapse decided to stop managing the output file for us. This is somewhat surprising and we should probably purge any service files we don't recognize.

[2015-10-03 23:02] jolynch commented on #122
#126 has been merged, so I'm going to close this.

[2015-10-03 23:02] #122 closed

[2015-10-03 23:05] jolynch commented on #103
@ajohnstone Is this a problem?

As per the commit comment on b7098382 I don't think this should be an issue

[code]

[2015-10-03 23:05] #103 closed

[2015-10-03 23:09] jolynch commented on #78
@dcosson Yea this has been somewhat of an annoying bug to us as well. We mitigated it slightly at Yelp by reducing the amount of zookeeper connecting we do and using the state_file so that at the very least as soon as the watcher gets information we can quickly enable the backend over the stat socket, but this just shortens the window of sad.

How are you thinking about implementing this? The watc

[2015-10-04 02:10] jolynch commented on #134
Should be fixed by #138, please let me know if it's not.

[2015-10-04 02:10] #134 closed

[2015-10-04 02:12] jolynch commented on #94
@Jaykah how does master work for you? Do you still see the lack of restart on update?

[2015-10-04 02:14] jolynch commented on #93
I'm not aware of one, although if someone wants to contribute one I'm all for it :-)

[2015-10-04 02:14] #93 closed

[2015-10-04 02:23] jolynch commented on #35
As a status update, I'm working on merging #58 with @bobtfish, but we've run into some fun issues with etcd 2.0 version incompatibility and how etcd seems to not implement proper ephemeral nodes ...

I think that even if we did merge the etcd reporter I'm concerned about scalability until they have proper ephemeral nodes. I'm worried smartstack can't scale too far on etcd since you have O(#servers

[2015-10-11 17:19] jolynch commented on #78
Now that I'm looking at it, the zookeeper watchers do setup before returning because they don't use a Thread.new in the start method (they rely on the zk-ruby gem's async callbacks to multithread themselves).

@dcosson I imagine you're using the ec2 tag watcher or some such?

[2015-10-11 17:20] jolynch commented on #78
Oops, didn't mean to close, sorry about that.

[2015-10-12 20:52] Jaykah commented on #94
@jolynch Have just tested it, and it still does not do reloads properly. Built from master.

[code]

[2015-10-12 21:02] jolynch commented on #94
@Jaykah, OK I'll look into it. Can you post your docker file, it might make it easier for me to reproduce.

Just to make sure we're talking about the same thing, Synapse is not supposed to reload itself if Synapse configuration changes (adding or removing services) however it is supposed to reload HAProxy if the servers backing those services change. I guess the part I'm confused about in this tic

[2015-10-12 21:07] Jaykah commented on #94
@jolynch Sure, will post the Dockerfile shortly.

That is correct, I am referring to the HAProxy reload when the list of nodes changes in Zookeeper. So the steps would be:

1) Launch a new backend container that has Nerve
2) It will register its IP in Zookeeper
3) Frontend container's Synapse would see that the list of nodes changed in Zk
4) It should then reload HAProxy (but doesn't).

Both HAPro

[2015-10-12 21:09] igor47 commented on #94
it needs to fork to reload haproxy because the haproxy reload is accomplished with a command. the unix way to execute another command is to `fork` and then `execve`. i wonder if this is docker-related at this point

[2015-10-12 21:20] jolynch commented on #94
I think that having the docker file (or something close to it) will be a big help in reproducing the bug. I have a suspicion supervisord and docker are not acting like we might expect.

[2015-10-12 21:28] jolynch commented on #94
Yea there are going to be two forks (one by Synapse and one by the HAProxy that starts up), so if supervisord is like "what is this thing that just forked" that might be an issue.

[2015-10-12 21:56] Jaykah commented on #94
@jolynch I've created a Dockerfile bundle for you that can be used to reproduce the issue. All you have to do is add a "synapse.conf.yaml" and your public key (to ssh into container via ip:222), named "myserver.pub".

You will then be able to connect to Supervisord console via "supervisorctl" with user "supervisord" and password "testpass". Port 3212 is also exposed for HAProxy stats.

https://www

[2015-10-13 23:27] #139 closed

[2015-10-20 15:51] bitglue commented on #35
etcd ephemeral nodes: https://github.com/coreos/etcd/issues/1232

[2015-10-22 17:00] Jaykah commented on #94
@jolynch Were you able to reproduce it?

[2015-10-24 02:58] jolynch commented on #94
@Jaykah sorry I'll try to take a look this weekend, sorry about that.

[2015-10-28 17:21] ianbamforth opened #145 "Zookeeper - global configuration from the ENV?"
I currently use Synapse with zookeeper, using a path pattern like '/production/services/someservice' etc.  What I'd like to be able to do is take the first part of that path (i.e. /production) from the environment.  Does this seem like a reasonable / sensible feature to add, and would it be useful to others?  For context, I'm hosting stuff in AWS, and would like to combine this with user-data to e

[2015-10-28 17:25] ianbamforth commented on #145
I was also considering making it possible to take the zookeeper host list from the env - no major benefit to this, just that most other things I've encountered do it.  Reduces repetition a bit in the config file I suppose.

[2015-10-29 17:59] Jaykah commented on #94
@jolynch Let me know if I can help in solving that issue in any way, would be glad to provide a staging environment or any other information that might be helpful.

[2015-11-03 07:24] jolynch commented on #94
@Jaykah I'm still working on getting a repro working, but one of the first things I noticed is that you have the supervisord process managing haproxy which is probably not going to work with Synapse causing it to fork. This sounds similar to the problems that folks have with systemsd which assumes that the process it's managing does not fork. See [the patch](http://marc.info/?l=haproxy&m=136033560

[2015-11-04 02:42] Jaykah commented on #94
@jolynch

[code]

Haproxy is launched in foreground as 1 process, but then exits with a status 0 (expected) when Synapse loads it. That way we are monitoring the initial launch of Haproxy without restraining forking (for the purpose you've mentioned). We are then stopping it's management by Supervisord with:
[code]

1. The reload command is the following:

```reload_command: "haproxy -db -f /etc/h

[2015-11-11 19:32] Jaykah commented on #94
@jolynch Unfortunately nothing changes by using the wrapper. Synapse is not restarting Haproxy:

[code]

If I restart Synapse manually I get:

[code]

Moreover, with supervisord.conf
[code]
and synapse.conf.yaml
[code]

I can still see Haproxy's forks even after the process is terminated via Supervisor.

Were you able to reproduce the issue with the Dockerfile I provided?

[2015-11-13 02:55] Jaykah commented on #94
Did some more tests with/without -Ds, with/without -db, with numprocs=1/2/3/4, without fork control, restarts/reloads via -USR2, -HUP - nothing worked. At this time I am almost certain that the issue has to do with Supervisor reaping Synapse processes because Synapse does not have a "foreground" (or non-daemon) mode, making it not systemd compliant.

[code]

[2015-11-18 00:37] Jaykah commented on #94
@jolynch Were you able to reproduce it? We're debating if we should move our infra off Synapse because of this issue, but if you have any pointers as to how we can make it run in foreground, that would be super helpful.

Thanks.

[2015-11-18 01:03] jolynch commented on #94
@Jaykah Yea I've been dropping the ball on this. I really think that the issue lies with how a Docker container really isn't a proper init system. We really like running synapse/haproxy outside the containers because of all kinds of reasons (namely our service data plane stays available during a docker roll and we don't like paying conntrack), is there any possibility you can run on the bare metal

[2015-11-25 16:50] JustinVenus opened #147 "[Enhancement] Support Apache Aurora zookeeper service discovery"
Apache Aurora writes information into zookeeper in a slightly different layout than what the zookeeper support in synapse expects.
[code]

I'll send a pull request to add the support in a moment.

[2015-11-25 16:56] jolynch commented on #147
Might be able to use #104 as a starting point, I believe there are only minor changes to be done there.

[2015-11-25 16:57] jolynch commented on #147
I spoke too soon haha. Cheers will follow up in the PR

[2015-11-25 17:00] JustinVenus commented on #147
Please see for https://github.com/airbnb/synapse/pull/148 for implementation

[2015-12-14 10:36] yagnik opened #151 "Support for pluggable proxy layer"
I was wondering what your views are in making the proxy layer pluggable which would allow me to use nginx instead of haproxy. I didn't want to prematurely start coding so wanted to hear your opinion first.
@igor47

[2015-12-14 11:21] jolynch commented on #151
@yagnik I've been pretty interested in that for a while. I started down that path with the [config generators](https://github.com/airbnb/synapse/blob/master/lib/synapse.rb#L21-L31) refactor, but I didn't finish the job. There are only really two blockers:

1. There is still some [coupling](https://github.com/airbnb/synapse/blob/afa0e35a458fa5db09c29f083e71a39dafa4f547/lib/synapse/service_watcher/b

[2015-12-14 11:30] yagnik commented on #151
@jolynch what was your reason for using nginx instead of haproxy ?
The part that got me concerned is your post http://engineeringblog.yelp.com/2015/04/true-zero-downtime-haproxy-reloads.html which I believe is not a problem in nginx land cause process swapping doesn't happen. Is that the same reason you thought about using nginx ?

[2015-12-14 11:53] jolynch commented on #151
@yagnik Yes we considered switching to nginx due to the reload issue, especially as [PaaSTA](http://engineeringblog.yelp.com/2015/11/introducing-paasta-an-open-platform-as-a-service.html) matured and we found out that SmartStack would be restarting HAProxy basically all the time.

However, since our zero downtime reload strategy shipped 8 months ago and we invested serious effort in performance tu

[2015-12-23 15:32] zouyx opened #154 "Is synapse must depend on AWS?"
Is synapse must depend on AWS? if i haven't AWS ,can i launch it ?

[2015-12-23 16:54] jolynch commented on #154
@zouyx it is a dependency in the gemspec because of the `Ec2TagWatcher`, but if you are not using that watcher then the aws-sdk will just be an unused dependency.

Synapse itself does not depend on running in AWS and can run fine in your own datacenters.

Does that answer your question?

[2015-12-23 16:57] jolynch commented on #147
I believe this is fixed. Please open a new issues if the `decode` method does not work as expected.

[2015-12-23 16:57] #147 closed

[2016-01-07 16:18] jolynch commented on #154
@zouyx I'm going to close this, please reopen with more context if it's still a problem.

[2016-01-07 16:18] #154 closed

[2016-01-12 16:37] zouyx opened #155 "gem install synapse error"
hi
i have run the command as below
gem install synapse --install-dir /opt/smartstack/synapse --no-ri --no-rdoc

but get the error,i don't know what it is mean, can you help me to fix it ?

error message as below:
[code]

[2016-01-13 04:34] yagnik commented on #151
thanks @jolynch sorry about the delayed reply. Also curious do you guys use chef/puppet for continuous  deployment to all nodes for synapse/nerve ? How do you guys manage versioning in that case ?

In the mean time I'll pull away some time for getting nginx support, wait for my pr :)

[2016-01-16 22:58] jolynch commented on #155
@zouyx Thanks for the report. What system / environment are you trying to install on?

`` Failed to complete patch task; patch(1) or git(1) is required. (RuntimeError)`` makes me think that you need git or patch on your system. Can you try installing one of those and let me know how it goes?

[2016-01-16 23:17] jolynch commented on #151
@yagnik Yea we basically build debian packages of synapse nerve, [synapse-tools](https://github.com/Yelp/synapse-tools) and [nerve-tools](https://github.com/Yelp/nerve-tools) using Docker. We have some glue puppet modules that tie together a [synapse](https://forge.puppetlabs.com/KyleAnderson/synapse) and [nerve](https://forge.puppetlabs.com/KyleAnderson/nerve) puppet module which basically instal

[2016-01-17 01:46] jolynch commented on #94
@Jaykah Alright I got a few hours to debug this today and this is not a bug in Synapse, it's an issue with how supervisord and haproxy interact. There are a couple of problems with running Synapse like this but they all revolve around the problem that Supervisord assumes that it is the _only_ thing creating processes ever and this is simply not true with Synapse (which typically forks haproxy) or

[2016-01-18 20:25] jolynch commented on #94
For what it's worth I was able to get a container that would restart haproxy, but it worked by basically having a bash script that would exec:

[code]

And then a supervisord configuration that would just use this as the command and ``USR2`` as the stopsignal. This is really bad though because it means there will be a dead period where no HAProxy is listening for connections between when superviso

[2016-01-18 21:21] jolynch commented on #94
Alright, I've got a working Docker setup with latest synapse, haproxy 1.6 and ruby 2.2 over at https://gist.github.com/jolynch/54db6eb64a8951450d6e. The TLDR is: use the systemd wrapper, have synapse send signals to the systemd wrapper (not to haproxy itself) and have supervisord always autostart the wrapper and try to start it before synapse (there is a bit of a chicken and an egg problem because

[2016-01-19 09:32] PepperYan opened #157 "How to auto-detect a brand new service without rewrite the service section in synapse configuration"
Synapse  is very useful. But I facing some problem when I'm using it.

    Synapse refresh HAProxy config by watching changes on zk.

    when services comes up it update the ha config file.

     But when I want to add a brand new services that never write in "services"
     section of Synapse config file.

     How can I update all my Synapse config files in all the servers
     I maintaining wi

[2016-01-19 10:38] PepperYan commented on #157
Sorry,I did not think it over.Synapse are not responsible to do that.

[2016-01-19 10:38] #157 closed

[2016-01-19 19:02] jolynch commented on #157
Hi @PepperYan

Yes, an external component must supply the list of services to Synapse. We pull from our central service configuration library over in a [cron job](https://github.com/Yelp/synapse-tools/blob/master/src/synapse_tools/configure_synapse.py), which works pretty well.

[2016-01-20 08:27] timerish opened #158 "synapse: error polling docker host http://localhost:4243: #<Docker::Error::ClientError: Expected(200..204) <=> Actual(400 Bad Request)"
Hello,
     Is synapse incompatible with docker-api 1.20 , I got this warn when running synapse,
I attached environment info,and how to resolve it ?

root@VirtualBox:/var/lib/gems/1.9.1/gems/synapse-0.12.2# synapse -c /etc/synapse.json.conf
I, [2016-01-20T16:15:03.797821 #13184]  INFO -- Synapse::Synapse: synapse: starting...
I, [2016-01-20T16:15:03.798011 #13184]  INFO -- Synapse::Synapse: synaps

[2016-01-21 04:35] jolynch commented on #158
I imagine #149 will fix this, I'll merge that tomorrow.

[2016-01-21 19:33] jolynch commented on #158
@timerish Can you try with latest master?

[2016-02-08 16:47] j-datadome opened #161 "ELB config - Error "Name or service not known""
Hello,

I installed Synapse on a Ubuntu 14.04 server.

When I try to launch it using the following config, I receive as a response a warning "Name or service not known".

I run haproxy 1.6.3, use ruby 2.2.1 and bundler 1.11.2

Synapse correctly rewrites haproxy config file, but seems to fail to find my instances.
Is there a debug mode which I could activate to track more precisely the error?

Than

[2016-02-11 18:48] fnicholas opened #163 "Centos Compatibility & Higher Version of Ruby Support"
synapse version - v0.12.2.
nerve version - v0.6.0

the cookbook breaks here on centos. Im running it on centos 6.5 64 bit
Error executing action run on resource 'execute[synapse_install]'

It appeared the cookbook is looking for a higher version for ruby. Centos currently installs v1.8. It also appeared there's no easy way of installing a higher version of ruby on centos. Please how should I go ab

[2016-02-11 18:48] fnicholas commented on #163
[code]

[2016-02-17 16:38] j-datadome commented on #161
Hello,

I allow myself to up the topic cause the issue is blocking for me.

Thank you

[2016-02-18 18:47] bkochendorfer opened #172 "DnsWatcher < BaseWatcher"
We were trying out this service at our organization in an internal datacenter and we temporarily lost internet connection. Because this is resolving the external address of [airbnb](https://github.com/airbnb/synapse/blob/01a2409a5f1e19742ff9380ce683a54b31a4b7ad/lib/synapse/service_watcher/dns.rb#L18) being required as part of 'ping?' it caused synapse to fail entirely. Perhaps throwing a recoverab

[2016-02-18 21:38] igor47 commented on #172
the synapse philosophy is fail-fast; i would be opposed to allowing a dead watcher to stick around.

why did your cluster collapse? haproxy should have continued running with the last known good configuration. it should be fine for synapse to bail -- it should only break discovery of added/removed backends.

we should probably make the `airbnb.com` thing configurable to the watcher. i would welcom

[2016-02-18 22:21] JustinVenus commented on #172
Mesos (thermos_executer from Apache/Aurora) is supervising synapse ... when synapse exited on a single failed watcher (due to a resolver issue caused by a network interruption) all jobs in the Cgroup went with it.  The Mesos cluster collapsed, because of a DNS interruption as we our DNS servers were unable to forward a lookup for airbnb.com (probably also a risk if the Airbnb resolvers ever failed

[2016-02-18 22:42] igor47 commented on #172
a transient dns failure is not a risk for us, because synapse exiting (even exiting on every machine at once) is not a risk for us. likely, things would recover on their own, since we use a process supervisor (runit) which would just restart synapse. worst case, we would require manual intervention. either way, this scenario would not immediately threaten the stability of airbnb.

i am not familia

[2016-02-19 04:41] jolynch commented on #172
@JustinVenus

If you're running Synapse inside a container as a sidecar, you can run it under a supervisor and everything should work out. Ideally since you have multiple processes in a single container you should be using a proper init replacement anyways (e.g.runit, supervisord, etc).

That being said, best practice is to run Synapse and HAProxy outside your containers. We do this at Yelp (where

[2016-02-19 04:46] jolynch commented on #172
Also if healthchecking is a concern you can just turn off healthchecking except on error or just turn it off all together.

We leave healthchecking on at a low rate (leveraging on-error and fast-inter to make the rate high on error) and use hacheck (many use varnish) to soak up the healthcheck traffic. This is extra nice because we can gracefully fail boxes out of the SmartStack to do things like

[2016-02-19 15:40] JustinVenus commented on #172
@jolynch We are running synapse as process as part of an Aurora Task.  The issue is if one process exits != 0 then the task group is considered a failure and the whole job fails.  Normally this isn't a big deal.  However synapse/haproxy is bailing out on a single DNS resolve failure, and this is across the fleet causing mass rescheduling of Mesos jobs (thundering herd).  I'm going to post a patch

[2016-02-19 18:05] jolynch commented on #161
@j-datadome

Seems that the ec2watcher is bombing out [in discovering instances](https://github.com/airbnb/synapse/blob/a24aaca8de8d6e757500cef28059055cf906af83/lib/synapse/service_watcher/ec2tag.rb#L105). The error seems to be coming from the aws-sdk gem trying to connect to some (presumably aws) [endpoint](https://github.com/aws/aws-sdk-ruby/blob/589f8cd569d3c365189945dd2e7a10bc9df775ea/lib/aws/

[2016-02-19 18:26] jolynch commented on #161
So like for example if you supply 'us-west-2' to the region parameter the aws-sdk will try to resolve and connect to `ec2.us-west-2.amazonaws.com`. We can see this from [the aws-sdk ec2/region.rb](https://github.com/aws/aws-sdk-ruby/blob/589f8cd569d3c365189945dd2e7a10bc9df775ea/lib/aws/ec2/region.rb#L38) file. So yea, which region are you trying to connect to?

[2016-02-23 19:48] Jaykah opened #176 "undefined method `fetch' for nil:NilClass"
I started getting the following error on a few machines where the latest Synapse release was deployed. Still checking whether anything else could have caused it, but any tips would be appreciated:

[code]

[2016-02-23 20:02] jolynch commented on #176
@Jaykah are you using the state file (``state_file_path``)?

I wonder if we need to set @seen back to ``{}`` in the [rescue](https://github.com/airbnb/synapse/blob/abbdf2a34cce4ba7e0f164ed39ef010d632f9241/lib/synapse/haproxy.rb#L559)

[2016-02-23 20:05] Jaykah commented on #176
Yes, I am
[code]

However it is currently empty since Synapse could not start and that's a fresh build.

[2016-02-23 20:08] jolynch commented on #176
@Jaykah does the file exist but is empty?

[2016-02-23 20:10] Jaykah commented on #176
Correct

[2016-02-23 20:44] jolynch commented on #176
@Jaykah This is a regression in how ``JSON`` handles an empty file. It used to properly raise an exception and now it returns nil. Bugfix otw.

[code]

[2016-02-23 22:04] #176 closed

[2016-02-23 22:05] jolynch commented on #176
@Jaykah we'll be doing a gem release in a little bit to pick up a few other changes. As a short term fix just remove the file and as a long term fix this will get rolled into the next release.

[2016-02-23 23:17] Jaykah commented on #176
Thanks @jolynch !

[2016-03-02 08:42] jolynch commented on #161
@j-datadome did that fix your issue?

[2016-03-28 19:19] yagnik opened #178 "Synapse and new nodes / auto scaling"
From my understanding so far, we need to restart synapse for it to be aware of new nodes that are added to a service specifically in the case of autoscaling.
Is there a way we can make synapse aware of new nodes so it automatically reloads ?

[2016-03-28 19:24] yagnik commented on #178
I assumed that the watchers will make synapse aware of new nodes and the config will be regenerated but that isn't what I'm seeing in practice.

[2016-03-28 19:30] yagnik commented on #178
I'm stupid and a liar, had it misconfigured :(

[2016-03-28 19:30] #178 closed

[2016-03-28 20:14] scarletmeow commented on #178
Glad you figured it out. What was your mistake?

[2016-03-29 17:38] yagnik commented on #178
I had socket enabled but hadn't given permission to the user to write to the file.

[2016-04-04 09:11] jheung-r7 opened #180 "Extending cookie_value_method"
Hi, I have a question on implementation of extending the cookie_value_method. We have a requirement to have a znode id as the cookie value.
[code]
Taking from this example above, I need to expose server000 as the cookie value. There are a few ways to expose this.

Since the discovery path is exposed in (https://github.com/airbnb/synapse/blob/master/lib/synapse/service_watcher/zookeeper.rb#L130) it

[2016-04-04 09:20] jheung-r7 commented on #180
Closing due to requirement changes.

[2016-04-04 09:20] #180 closed

[2016-04-08 09:25] tomfitzhenry opened #181 "In DNS service watcher, re-resolve every $TTL"
The DNS service watcher will re-resolve every `check_interval` seconds. Rather than having to set `check_interval`, and possibly setting it too high/low, it would be nice if it re-resolved every $TTL (whatever the returned TTL is).

[2016-04-08 17:30] tomfitzhenry opened #182 "AWS Auto Scaling Group watcher"

[2016-04-19 12:53] bbc-tomfitzhenry opened #185 "Allow name in the DNS service watcher's ping method to configurable"
https://github.com/airbnb/synapse/blob/master/lib/synapse/service_watcher/dns.rb#L18 is hard-coded to airbnb.com .

Ideally this'd be configurable, so we can set it to something internal, so we don't have to depend on airbnb.com's DNS.

[2016-04-24 21:56] tomfitzhenry commented on #181
I can think of three approaches for this:
1. For each server in `@discovery['servers']`, start a new watcher thread that does DNS resolution for that server, and sleeps for $TTL.
2. Start a single watcher thread that does DNS resolution for all servers, and sleeps for the minimum across all TTLs, before re-resolving them all.
3. Start a single watcher thread that does DNS resolution for all server

[2016-05-09 10:42] Michal-dia opened #187 "HAProxy with ActiveMQ"
Is it possible to configure Synapse to work with activemq?
When creating ActiveMQ Connection what url should I pass? I can't sent the url of the haproxy since it throws an error "connections refuses".
I didn't fine in the "ReadMe" information on how configure the application itself to the Synapse, only the other side - Synapse to watchers - is described. Can someone please give more information ab

[2016-06-03 07:55] ianbamforth opened #195 "Obtain AWS credentials from IAM Instance Profile"
Seems like it should be fairly straight forward, and it seems to be the "right" way to distribute creds?

[2016-06-03 08:02] ianbamforth commented on #195
Ignore me, it already does this.

[2016-06-03 08:02] #195 closed

[2016-06-09 16:53] #145 closed

[2016-06-09 17:01] ianbamforth opened #198 "ec2tag watcher needs to back off if Client.RequestLimitExceeded is returned"
If you have a reasonable number of ec2tag watchers running, you can hit the rate limiter.  Rather than a fixed check_interval, there should be a way of doing some kind of backoff (as per the AWS docs).  If the Client.RequestLimitExceeded is returned, then there definitely needs to be a backoff - otherwise you just continue to hammer on the door, and the rate limit exceedance will never go away.

I

[2016-06-13 09:54] ianbamforth commented on #198
Event better would be to somehow combine the requests made to EC2 in the background - if you have 100 watchers that all need to get the Tags every 15 seconds, that can be achieved with a single request - rather than 100 requests each with a filter applied.

[2016-08-03 00:17] jolynch opened #205 "ZookeeperWatcher does not handle NoNode failures"
There is a race condition in how the ZookeeperWatcher [discovers backends](https://github.com/airbnb/synapse/blob/1edd876513b850cda93fb20d68226c69682973ae/lib/synapse/service_watcher/zookeeper.rb#L129-L130) where we can crash the whole Synapse process if we try to read a node that doesn't exist after the list. For example:

[code]

We've seen this cause stability issues in production, let's catch

[2016-08-03 06:02] igor47 commented on #205
i guess what would happen is synapse would bail and restart. this would force a restart of haproxy which might cause some instability. we've certainly spent a lot of time figuring out how to limit the frequency of haproxy restarts.

i've thought about not restarting haproxy when we boot. but this is not possible. we control a lot of haproxy settings which we don't and can't check for via the stats

[2016-08-03 06:33] jolynch commented on #205
cut #206 to mitigate

Interestingly the issue for us was that a few particular Synapse instances kept crashing rather than making it through to configuration, which led to HAProxy having all old backends.

@igor47 Have you guys tried ``state_file_path`` with ``state_file_ttl`` as well as ``restart_interval`` and ``restart_jitter``? Those options were able to get our HAProxy reloads pretty much und

[2016-08-03 08:40] igor47 commented on #205
we use `state_file_path`, and this helps quite a bit. the only case where we restart today is when synapse restarts and when we have to add an entirely new backend.

i was trying to say that i think we *must* restart haproxy when we restart synapse.

[2016-08-03 16:04] jolynch commented on #205
I agree the restart on Synapse restart is pretty important. I think the only way we could not restart HAProxy would be to hash the last HAProxy config we ran with and store it in the state file, and force a restart whenever the hash of the last config differs (indicating _something_ changed in the config). At least for us Synapse restarts usually correspond with new services, so we'd have to resta

[2016-08-03 16:04] #205 closed

[2016-08-25 17:39] jolynch commented on #187
@Michal-dia If HAProxy can work with activemq then Synapse can manage the HAProxy for you. Can you provide some more detail of your setup?

HAProxy itself has thorough [documentation](https://cbonte.github.io/haproxy-dconv/) which should help you figure out which sections you need. Once you find the sections that you need (frontend, backend, server, etc ...) you can configure those with the Synaps

[2016-09-07 23:50] rickypai commented on #155
this can be fixed with installing the required package `patch` with `apt-get install patch`

[2016-09-07 23:50] #155 closed

[2016-10-04 09:07] ianbamforth opened #210 "`docker-api` v1.32 dropped support for Ruby 1.9"
No longer possible to install this with Ruby 1.9, as https://github.com/swipely/docker-api/releases/tag/v1.32.0 dropped support for 1.9.  Setting `<1.32` in the `synapse.gemspec` appears to resolve this.

[2016-11-23 09:21] bjoernmeier opened #215 "discovery fails if Zookeeper tree is read only"
Hi,

we are using synapse for service discovery and wanted to use it with a read only Zookeeper.
But during tests we got the following error:
[code]
While checking the code we saw that synapse uses zk `exists` to create nodes if they do not exist (e.g. /level_1 exists it will create level_2/level_3).This fails even if the nodes do exist as synapse does not have create permissions in zookeeper.
It

[2017-03-14 01:36] jolynch commented on #210
@ianbamforth can you just install docker-api manually before you install synapse?

e.g.
[code]

[2017-03-14 01:36] jolynch commented on #187
I'm going to close this because of lack of activity, but feel free to re-open with more context :-)

[2017-03-14 01:36] #187 closed

[2017-03-22 20:37] GnawNom opened #226 "service_conf_dir no longer a valid top level config key"
Tried upgrading from 0.12.2 to 0.14.1, ran into this error:
[code]
This is the synapse conf we were using:
[code]
Is the service_conf_dir directive no longer supported in 0.14.1?

[2017-03-22 21:42] jolynch commented on #226
Nope, this is a bug, thanks for the PR will merge shortly.

[2017-03-22 21:43] #226 closed

[2017-03-22 21:58] jolynch commented on #226
@GnawNom Can you try out 0.14.3 and let me know if that works? 0.14 had a large refactor to support alternative configuration generators (e.g. nginx + haproxy + w.e. hot new proxy comes out) and we're still dogfooding at Yelp.

[2017-03-29 23:44] microwavedboy opened #229 "Unexpected error when migrating from Synapse-0.13.8 to Synapse-0.14.3"
Gem version: 0.14.3
Ruby version: 2.4.0
OS version: Ubuntu 14.04 (Trusty)

[code]

Here's an example stanza from my synapse configuration that will generate this error:

[code]

[2017-03-30 00:35] jolynch commented on #229
@microwavedboy thanks for the bug report.

Get rid of the top level ``check_interval`` and ``max_checks`` arguments. As far as I am aware they were never being used, but not with the 0.14 refactor it's thinking that they are configuration generators (e.g. haproxy, nginx, files, etc ...).

[2017-04-03 23:11] microwavedboy commented on #229
I made the fun discovery that we were using a fork of synapse that just happened to not be upgraded.
Thanks for the tip; I'm adding our needed functionality in a pull request and closing this issue.

[2017-04-03 23:11] #229 closed

[2017-04-03 23:38] jolynch commented on #229
@microwavedboy just curious which fork are you using? I'm interested in trying to reduce the number of forks out there (which is why I've been making everything pluggable). So like if the issue is just a different configuration generator or service watcher or something, I'd be interested in working on getting those into separate extension gems.

[2017-04-04 15:49] microwavedboy commented on #229
We were using https://github.com/mandarjog/synapse -- I issued a pull
request for the functionality we needed in mainline, and I'll close my fork
if it's accepted.

(It did not make sense to me to add a new service watcher since so much of
the functionality overlapped with the existing ec2tag watcher; I started
with some copypasta, but ended up redoing the code in ec2tag)

On Mon, Apr 3, 2017 at 4

[2017-04-05 18:46] jolynch commented on #229
@microwavedboy yea so this is the kind of thing I was hoping to fix with the pluggable watchers. In this specific case it's probably fine to merge mainline because AWS has released v2 everywhere, but for other companies less good at maintaining a common API (e.g. etcd), we can have the synapse-ec2tagv2 ruby gem which provides a v2 API compatible ec2tag watcher and then keep that decoupled from the

[2017-04-05 18:55] microwavedboy commented on #229
I appreciate that goal - it definitely slims the scope (and related
headaches) of maintaining Synapse. 😄

On Wed, Apr 5, 2017 at 11:46 AM, Joseph Lynch <notifications@github.com>
wrote:

[2017-04-25 14:44] ianbamforth opened #233 "ec2tag watcher fails if metadata service is unavailable during a credential refresh"
The `DefaultProvider` takes aws keys from environment variables / config if available, otherwise falling back to ec2 metadata IAM role.  If you are using keys from the latter, they refresh automatically when they get near to expiry.  If the metadata service is down at this point, Synapse enters a broken state, where it has no credentials and cannot recover.  We have seen this in our production env

[2017-04-27 11:51] udangel-r7 opened #234 "No support for relative server_port overrides"
haproxy supports relative port addresses, prefixed by a "+" or "-".

If this is set the server port is determined by adding the value to the client's port. In the base service_watcher there is currently a check to verify that the override port is an integer which breaks existing configurations.

I assume nginx doesn't support a similar behaviour, would you accept a patch or should we just maintain

[2017-04-28 10:12] togarlamhot opened #235 "used Synapse to replace RDS"
Hi guys,
did you have try synapse to replace RDS?
I have tried it and the result

I, [2017-04-28T09:59:05.870663 #15534]  INFO -- Synapse::Synapse: synapse: starting...
I, [2017-04-28T09:59:05.870740 #15534]  INFO -- Synapse::ServiceWatcher::Ec2tagWatcher: Connecting to EC2 region: ap-southeast-1
I, [2017-04-28T09:59:06.592645 #15534]  INFO -- Synapse::ServiceWatcher::Ec2tagWatcher: synapse: ec2ta

[2017-05-05 18:19] llarsson commented on #182
While definitely nice, this can alternatively be achieved by tagging the ASG and propagating the tag to the instances (and then using the tag watcher).

[2017-06-21 17:37] yagnik commented on #151
Never got around to doing this and we went ahead with haproxy too and now haproxy doesn't have a reload issue: https://www.haproxy.com/blog/truly-seamless-reloads-with-haproxy-no-more-hacks/ so happy with that.

As an aside we ended up building an rpm using omnibus: https://github.com/yagnik/omnibus-smartstack and use dendrite:https://github.com/yagnik/dendrite to build nerve and synapse config.

[2017-06-21 17:37] #151 closed

[2017-06-21 17:37] yagnik commented on #151
Thanks for all the help @jolynch !

[2017-06-21 21:51] jolynch commented on #151
@yagnik oh also fwiw Synapse supports this now through config generators :-)

See the readme for how to do it and https://github.com/jolynch/synapse-nginx for an example of a proxy plugin.

[2017-06-22 04:35] yagnik commented on #151
:+1:

[2017-07-10 20:28] StephanErb opened #238 "Synapse and HAProxy seamless reloads"
Excuse me for abusing this issue tracker as way to ask a user question:

I am wondering if anyone has experience running synapse with the HAProxy seamless restart settings `server-state-file`, `load-server-state-from-file global` and the extended  reload command
[code]
 (For details, see https://github.com/haproxy/haproxy/blob/master/examples/seamless_reload.txt)

Are there any known issues using

[2017-07-10 20:46] jolynch commented on #238
I'm actually just working on porting us to using this now heh. The warnings are because SmartStack by default shuffles servers (so that long living connections get distributed across your fleet), but you can configure that with the [``backend_order``](https://github.com/airbnb/synapse/#the-haproxy-section) option.

I'm not sure about the perma DOWN state, that seems like a bug in HAProxy's state f

[2017-07-10 22:07] StephanErb commented on #238
Thanks for the quick response. I was able to eliminate the warnings using `backend_order: asc`.

I have also noticed that I had a potential slightly dodgy haproxy config: `observe layer7 on-error mark-down` but not running with `option   httpchk`. Maybe this is triggering something strange. I will deploy this and report back if I can still observe the problem.

[2017-07-10 22:18] jolynch commented on #238
@StephanErb

Yea, this looks like a pretty nasty bug in HAProxy's server state file implementation. The issue is the [puid check](https://gist.github.com/jolynch/296bf6fadba601a490f41381155cef71#file-server-c-L27-L48). Synapse shuffles backends on every reload, so we're guaranteed to miss the ids, and when servers come and go, applying state from a previous server puid is just incorrect (it probab

[2017-07-10 22:25] jolynch commented on #238
Even if we sort this is still broken:

Imagine a situation where we don't keep srv3 around, we just remove srv3 and add srv4 (e.g. srv3 failed and we added srv4):

[code]

to

[code]

The same bug triggers and we apply state from srv3 to srv4. This is no good.

[2017-07-10 22:28] StephanErb commented on #238
Thanks a lot for the quick and thorough investigation. I guess I will have to disable this feature for now...

[2017-07-10 23:32] jolynch commented on #238
@StephanErb so digging deeper this isn't as bad a bug as I thought, but it's broken. Basically if the order of servers ever change (in the case of shuffle always, in the case of sorted, whenever a server that is "lower" than the rest gets inserted), then we don't apply state from the previous config. I don't think though that we'd apply the state from an incorrect server.

So ... this still doesn'

[2017-07-11 08:06] StephanErb commented on #238
In that particular example we expected 6 running server instances. The HAProxy listed 10 backends in total: 4 in MAINT, 3 UP, and 3 DOWN. The MAINT ones were left overs from previous runs that were still sticking around due to the synapse state TTL. For the DOWN ones HAProxy complained that it could not be able to establish a L4 connection. Neither restarting/reloading synapse or HAproxy fixed the

[2017-07-11 15:44] jolynch commented on #238
Hm, yea that is quite strange. DOWN means that synapse is not really involved (synapse only ever MAINTs things), so I think that points to something to do with HAProxy healthchecks. When I've seen this kind of issue in the past it's usually either been too infrequent healthchecks (with the HAProxy state file you'd persist those healthcheck results across reloads and wait another inter before check

[2017-08-10 16:11] jolynch commented on #238
@StephanErb we've been using this in production for a few weeks now and things seem to work well.

For posterity, you want to upgrade to 0.14.7 and optionally set ``server_order_seed`` to e.g. the hash of each host's hostname or if you need more than 65k servers in a backend set ``max_server_id`` appropriately.

[2017-08-10 16:11] #238 closed

[2017-08-10 16:17] jolynch commented on #234
@udangel-r7

Since backend_port_override is provided by the user I've got no problem loosening the regex in the base watcher. If you all have a fork with a patch PR it and I can merge it.

[2017-08-10 16:19] jolynch commented on #233
@ianbamforth that seems reasonable to me. If it's been working in production for you I'm happy to merge it :-)

[2017-08-10 22:07] StephanErb commented on #238
Awesome, thanks again!

[2018-03-02 17:41] ziggythehamster commented on #235
RDS isn't EC2, so it won't come up when you search for EC2 tags

[2018-06-08 15:58] ianbamforth opened #260 "Provide a way to disable datadog stats"
Having upgraded to the most recent version of synaps, my logs are flooded with messages from collectd:

`collectd[1605]: statsd plugin: Unable to parse line: "synapse.watcher.ping.count:1|c|#watcher_name:storereader-raw_ca"`

Initial investigation suggests that the statsd implementation introduced recently is formatted specifically for DataDog, so will not work with "standard" collectd. (apologies

[2018-07-05 19:27] erickponce opened #261 "Zookeeper watcher with autoscale servers"
Hello there,

In a scenario where I have an autoscaled zookeeper cluster with AWS ASG,
there is a simple way to have dynamic zookeeper servers in the host configuration?

or I will have to implement another watcher/cron to update synapse config as new zookeeper nodes come and go, and then restart synapse?

[2018-07-16 19:14] #261 closed

[2020-04-30 22:02] dahutu opened #324 "Doc: README uses YAML config in Example Migration but only mentions JSON format in Configuration"
Synapse can use both YAML and JSON format configuration files, and in Example Migration section of README.md, the example Synapse configuration is in YAML format. However Configuration section states "Synapse depends on a single config file in JSON format; it's usually called synapse.conf.json". This is not consistent with Synapse capability or the example config. Please fix by either change the e

[2022-11-04 21:56] mifisignal opened #340 "Gem does not build on arm64 platform"
The synapse Gem currently does not build on the arm64 platform (used by EC2 Graviton, among others) because of a dependency on an older version of the `zk` Gem.